{% extends "base.html" %}

{% block content %}
    {% if validlink %}
        <p>Enter new password and repeat it.</p>
        <form method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Repeat new password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Something went wrong</h1>
        <p>Try again.</p>
    {% endif %}
{% endblock %}