{% extends "base.html" %}
{% block content%}

<div class="card container col-md-10 col-md-offset-1">

    <div class="card-body">
        <br>
            <h5 class="card-title text-capitalize">Category: {{category.note_category}}</h5>
            <h3 class="card-title text-capitalize">By: {{category.author}}</h3>
        <br>
        {% if user.id == category.author.id %}
            <a href="{% url 'update_category_view' category.pk %}">Edit</a>
            <a href="{% url 'delete_category_view' category.pk %}" class="card-link text-danger"><i class="fas fa-dumpster"></i></a>
        {% endif %}
            <a href="{% url 'category_list_view' %}">Back</a>
    </div>
</div>

{% endblock content %}